<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listing all the owners! </title>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar }"> </div>

	<h3> All the registered owners </h3>
<div class="container">
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Owner</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="owner : ${ownersWithPage}">
				<td>
					<a th:href="@{/api/v1/owners/__${owner.ownerId}__}" th:text="${owner.firstName + ' ' + owner.lastName}"/></a>
				</td>
				<td th:text="${owner.email}"/>
				<td th:text="${owner.phoneNumber}"/>
				<td>
					<a th:href="@{/api/v1/owners/__${owner.ownerId}__/delete}" 
						class="btn btn-danger btn-sm"
						onclick="(function() { if (!confirm('Are you sure you want to delete this user?')) return false; })();"
						>Delete</a>
				</td>
			</tr>
		</tbody>
		
	</table>
	<nav aria-label="Owners navigation">
		    <ul class="pagination">
		        <li class="page-item" th:classappend="${ownersWithPage.first ? 'disabled' : ''}">
		            <a class="page-link" th:href="@{/api/v1/owners(ownersPage=${ownersWithPage.number-1})}"
		               aria-label="Previous">
		                <span aria-hidden="true">&laquo;</span>
		            </a>
		        </li>
		        <li class="page-item" th:each="i : ${#numbers.sequence(0, ownersWithPage.totalPages - 1)}"
		            th:classappend="${i == ownersWithPage.number ? 'active' : ''}">
		            <a class="page-link" th:href="@{/api/v1/owners(ownersPage=${i})}"
		               th:text="${i + 1}"></a>
		        </li>
		        <li class="page-item" th:classappend="${ownersWithPage.last ? 'disabled' : ''}">
		            <a class="page-link" th:href="@{/api/v1/owners(ownersPage=${ownersWithPage.number+1})}"

		               aria-label="Next">
		                <span aria-hidden="true">&raquo;</span>
		            </a>
		        </li>
		    </ul>
		</nav>

</div>
</body>
</html>