<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{fragments/navbar :: navbar }"> </div>
<script>
	function setSelectedMechanic() {
		  var selectedMechanic = $('#dropDownList').val();
		  $('#selectedMechanic').val(selectedMechanic);
		}
</script>
<body>

<!-- Owner Details table -->
<h3>Owner Details</h3>
<hr>
<div class="container">
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone Number</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:object="${owner}">
				<td th:text="${owner.firstName}"/>
				<td th:text="${owner.lastName}"/>
				<td th:text="${owner.email}"/>
				<td th:text="${owner.phoneNumber}"/>
				
			</tr>
		</tbody>
		
	</table>
</div>

<!-- Owner Vehicles table -->

<hr>
<h3>Owner's Vehicles</h3>
<hr>
<div class="container">
	
	<a th:href="@{/api/v1/owners/__${owner.ownerId}__/vehicles/add}"
		class="btn btn-primary btn-sm mb-3">Add Vehicle</a>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Make</th>
				<th>Model</th>
				<th>License Plate</th>
				<th>Production Date</th>
				<th>Mechanic</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="vehicle : ${owner.vehicles}">
				<td th:text="${vehicle.make}"/>
				<td th:text="${vehicle.model}"/>
				<td th:text="${vehicle.licensePlate}"/>
				<td th:text="${vehicle.productionDate}"/>
				<!-- <td th:text="${vehicle.mechanic != null ? vehicle.mechanic : 'Or Add one!'}" /> -->
				<td>
				
				  <span th:if="${vehicle.mechanic != null}" th:text="${vehicle.mechanic.firstName}"></span>
				  	
				  	<form th:if="${vehicle.mechanic == null}" th:action="@{/api/v1/owners/__${owner.ownerId}__/vehicles/__${vehicle.vehicleId}__/saveMechanic}" method="post">
				  	<select  class="form-control" id="dropDownList">
					    <option value="0">-</option>
					    <option th:each="mechanic : ${mechanics}" th:value="${mechanic.mechanicId}"
					    	th:text="${mechanic.firstName} + ' ' + ${mechanic.lastName}">
					    </option>
					</select>
					  	<input type="hidden" name="selectedMechanic" id="selectedMechanic" />
  						<button type="submit" class="btn btn-primary btn-sm" onclick="setSelectedMechanic()">Save Mechanic</button>
				  	</form> 
				  	<!-- <form th:action="@{/api/v1/owners/__${owner.ownerId}__/vehicles/__${vehicle.vehicleId}__/saveMechanic}" method="post">
				  	<select class="form-control" id="dropDownList">
					    <option th:text="${vehicle.mechanic.firstName} + ' ' + ${vehicle.mechanic.lastName}"></option>
					    <option th:each="mechanic : ${mechanics}" th:value="${mechanic.mechanicId}"
					    	th:text="${mechanic.firstName} + ' ' + ${mechanic.lastName}">
					    </option>
					</select>
					  	<input type="hidden" name="selectedMechanic" id="selectedMechanic" />
  						<button type="submit" class="btn btn-primary btn-sm" onclick="setSelectedMechanic()">Save Mechanic</button>
				  	</form> -->
				  	
				</td>
				<td>
					<form id="vehicle-details-form" th:action="@{/api/v1/owners/__${vehicle.owner.ownerId}__/vehicles/__${vehicle.vehicleId}__}" method="post">
					    <!-- Add a hidden form field for the fromMechanicPage flag -->
					    <input type="hidden" name="fromMechanicPage" value="false" />
					    <button type="submit" class="btn btn-primary btn-sm">Details</button>
					</form>
					<a th:href="@{/api/v1/owners/__${owner.ownerId}__/vehicles/__${vehicle.vehicleId}__/update}"
						class="btn btn-info btn-sm"
						>Update</a>
					<a th:href="@{/api/v1/owners/__${owner.ownerId}__/vehicles/__${vehicle.vehicleId}__/delete}" 
						class="btn btn-danger btn-sm"
						onclick="(function() { if (!confirm('Are you sure you want to delete this vehicle?')) return false; })();"
						>Delete</a>
				</td>
			</tr>
		</tbody>
		
	</table>
</div>

</body>
</html>