<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head>
<title>Welcome Page</title>
</head>


<body style="margin: 0px; background: #0e0e0e; height: 100%"
	data-new-gr-c-s-check-loaded="14.1098.0" data-gr-ext-installed="">
	<div th:replace="~{fragments/navbar :: navbar }"> </div>
	<img
		style="display: block; -webkit-user-select: none; margin: auto; cursor: zoom-in; background-color: hsl(0, 0%, 90%); transition: background-color 300ms;"
		th:src="@{images/home-image.jpg}" width="687" height="426">

</body>
</html>